[tool.poetry]
name = "{{ project_name }}"
version = "0.0.0"
description = ""
authors = ["Your Name <you@example.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.7"
django = ">=4.1.7"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
